service vendor.boot-hal-1-2 /vendor/bin/hw/android.hardware.boot@1.2-service
    interface android.hardware.boot@1.0::IBootControl default
    interface android.hardware.boot@1.1::IBootControl default
    interface android.hardware.boot@1.2::IBootControl default
    class main
    user root
    group root system
    oneshot
    disabled
    seclabel u:r:recovery:s0

on init
    vendor.boot-hal-1-2
